section.pagination-wrapp {
    height: 50px;
    position: fixed;
    bottom: -25px;
    border-top: 1px solid #06c;
    display: inline-block;
    width: 100%;
    transform: translate(-50%, -50%);
    left: 50%;
}

section.pagination-wrapp .page-inner-wrapp {
    /* display: flex;
    justify-content: center;
    gap: 30px; */
    padding: 10px;
}
.btn-primary {
    padding: 0 10px;
}
.container-fluid {
    height: calc(100vh - 50px);
    overflow: auto;
}